<section>
  <h1>Data Form</h1>

<form [formGroup]="dataForm" (submit)="onFormSubmit()">

  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="name"> <br><br>

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="age"> <br> <br>

  <button type="submit" [disabled]="dataForm.invalid">{{ formButtonLabel }}</button>
</form>

<h1>Data List</h1>

<ul>
  <li class="text" *ngFor="let item of items$ | async">
    {{item.name}}
    {{item.age}}
    <button (click)="onDeleteItemClick(item.id)">Delete</button>
    <button (click)="onEditItemClick(item)">Edit</button>

  </li>
</ul>

</section>





<router-outlet></router-outlet>