<!-- <h1>Product Details</h1>

<div class="product-cards">
  <div *ngFor="let product of items$ | async" class="product-card">
    <p>{{ product.tittle }}</p>
  </div>
</div> -->


<h1>Product Details</h1>

<div *ngIf="product">
  <h2>{{ product.heroHead }}</h2>
  <p>{{ product.heroContent }}</p>
  <img [src]="product.heroImg[0]" alt="">
  <img [src]="product.bannerVedio[1]" alt="">
  <br>
  <br>

  <!-- Add other product details as needed -->
</div>

<div *ngIf="!product">
  <p>Product not found</p>
</div>
